
Data/UMI/matrix_GSM3099847.mtx
Data/UMI/matrix_GSM3099848.mtx
Data/UMI/matrix_GSM3099849.mtx
Data/UMI/matrix_TSMammary.mtx
Data/UMI/matrix_scrJUQ068.mtx
Data/UMI/matrix_CID44991.mtx
Data/UMI/matrix_CID44971.mtx
Data/UMI/matrix_CID4513.mtx
Data/UMI/matrix_CID4495.mtx
Data/UMI/matrix_CID4515.mtx
Data/breastData.RData
Data/EpithelialCells.RData
